<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <title>Boss</title>
</head>
<body>
    <%- include('./nav.ejs') %>
    <main id="boss">
        <section id="hero">
            <h1>Auf der Suche <br> nach fähigen <br> Mitarbeitern?</h1>
            <div class="description">
                <h1>HIER suchen und finden:</h1>
                <form action="">
                    <input type="text" name="" id="">
                    <input type="submit" value="search">
                </form>
                <div class="colors">
                    <div class="cl1"></div>
                    <div class="cl2"></div>
                    <div class="cl3"></div>
                </div>
            </div>
        </section>
        <!-- <% if ("employees" in user) { %>
            <% user.employees.forEach(elt => { %>
                <div class="item">
                    <a href="/boss/employees/<%= elt._id %>"><img src="<%= elt.profilePic %>" alt=""></a>
                    <h3><%= elt.firstName %> <%= elt.lastName %></h3>
                </div>
            <% }) %>
        <% } %>
        
        <% if (user._id != "guest") { %>
            <form action="/boss/add" method="post">
                <input type="text" name="firstName" id="" placeholder="first name">
                <input type="text" name="lastName" id="" placeholder="last name">
                <input type="text" name="emails" id="" placeholder="email">
                <input type="submit" value="add">
            </form>
        <% } %> -->
    </main>
    <%- include('./footer.ejs') %>
</body>
</html>